.sub-rapper-div{
    margin: 56px 330px 0 331px;
}
.text-img{
    margin-top: 20px;
}
.nav-item{
    margin-right: 60px;
    cursor: pointer;
}
.nav-item-text{
    color: #162334;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-button-text{
    color: #FFF;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.nav-item-button{
    width: 160px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #1F3E50;
    background: #1F3E50;
}
.hero-text-1{
    width: 560px;
    color: #162334;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 160px;
}
.hero-text-2{
    margin-top: 80px;
    color: #6F6F6F;
    font-family: Jost;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-part-1{
    width: 40%;
}

.hero-part-2{
    margin-top: 126px;
}
.stats-rapper{
    margin-top: 120px;
    width: 1833px;
    height: 346px;
    background: var(--Linear-Gradient, linear-gradient(180deg, #141E2F 0%, #203F51 47.4%, #0E1921 99.48%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.stats-text-1{
    color: #FFF;
    font-family: Jost;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.stats-text-2{
    color: #FFF;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}
.sub-rapper-div2{
    padding-left: 220px;
    padding-right: 201px;
}
.stats {
    flex: 1;
    margin: 0 80px;
}
.steps-text-1{
    margin-left: 35px;
    color: #162334;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.steps-text-2{
    color: #162334;
    text-align: center;
    font-family: Jost;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-div{
    width: 365.849px;
    height: 383.326px;
    border-radius: 18.642px;
    background: #FFF;
    box-shadow: 1.165px 2.33px 20.972px 0px rgba(147, 147, 147, 0.25);
}
.card-text-1{
    color: var(--primary-colour, #1F3E50);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Open Sans";
    font-size: 30.293px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-text-2{
    width: 316px;
    height: 43px;
    color: #585858;
    font-family: "Open Sans";
    font-size: 16.312px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.caption-text-1{
    color: #162334;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.caption-text-2{
    width: 1259px;
    color: #585858;
    text-align: center;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.recom-1-img{
    top: 30%;
    left: 35%;
}
.recom1-text{
    color: #162334;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.recom2-text{
    color: #6F6F6F;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.recom-1 {
    max-width: 450px;
}
.bill-text-1{
    color: #000;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bill-text-2{
    width: 1060px;
    color: #6F6F6F;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bill-rapper{
    width: 1920px;
    height: 1205px;
    background: rgba(31, 62, 80, 0.08);
}
.button-outer{
    width: 519px;
    height: 71px;
    border-radius: 10px;
    border: 1px solid var(--primary-colour, #1F3E50);   
}
.button-inner{
    width: 269px;
    height: 71px;
    border-radius: 10px;
    background: var(--primary-colour, #1F3E50);
}
.outer-text{
    color: #1F3E50;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inner-text{
    color: #FFF;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.bill-card-1{
    width: 352px;
    height: 712px;  
    border-radius: 20px;
    border: 1px solid #ECECEC;
    background: #FFF;
}
.bill-card-2{
    width: 352px;
    height: 712px;
    border-radius: 20px;
    border: 1px solid #ECECEC;
    background: var(--primary-colour, #1F3E50);
}
.bill-card-3{
    width: 352px;
    height: 712px;
    border-radius: 20px;
    border: 1px solid #ECECEC;
    background: #FFF;
}
.customer-text{
    color: #162334;
    text-align: center;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.recom-arrow-img{
    transform: rotate(180deg);
}
.customer-card{
    width: 310px;
    height: 325.578px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0.779px 0.779px 7.789px 0px rgba(0, 0, 0, 0.25);
}
.part-1-name{
    color: #000;
    font-family: Jost;
    font-size: 18.693px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.part-1-text{
    width: 215.754px;
    height: 49.07px; 
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 12.17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo{
    width: 99.698px;
    height: 99.698px;
    border-radius: 99.698px;
}
.inverted-comma{
    top: 53px;
    left: 4px;
}